@import "/src/constants/variables.scss";

.blockDayCalendar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapperForDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $black;
  border-radius: 10px;
  padding: 1%;
  background-color: $lightGrey;
  box-shadow:
    $firstShadow 0px 19px 38px,
    $secondeShadow 0px 15px 12px;
  padding: 20px 30px;
  div {
    font-size: 2rem;
  }
}

.completedTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 10px;

  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $white;
  }
}
.unfulfilledTasks {
  height: 10px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $black;
  }
}
.wrapperForDay:hover {
  cursor: pointer;
  opacity: 0.5;
}

.completedWrapper {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.completedTasksBlock {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;
}

.unfulfilled {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $black;
}
