$black: var(--black-color);
$white: var(--light-color);
$lightColor: (--light-color);
$firstShadow: var(--firstShadow-color);
$secondeShadow: var(--secondeShadow-color);
$lightGrey: var(--days-from-calendar-color);
$hoverDelete: var(--hover-delete);
$bodyColor: var(--bg-color);
