@import "/src/constants/variables.scss";

.mainBlock {
  position: absolute;
  right: 42%;
  margin-top: 10%;
  border: solid 2px $white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 2px 2px 2px 1px $firstShadow;
}

.blockChangePage {
  border: solid 2px $white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  box-shadow: 2px 2px 2px 1px $firstShadow;

  span {
    font-size: 20px;
  }
}

.entryToApp {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    input {
      border-radius: 20px;
      padding: 10px;
      border-color: $white;
      outline: none;
    }
  }
}
